*body {margin: 0;}



/*-----NAVIGATION-----*/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: red;
    overflow: auto;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}



/*------LOGO-----*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*-----CONTENT-----*/
h1 {
    font-family: 'Graduate', cursive;
    text-align: center;
}
div.content {
    width: 100%;
    
        
}





/*-----GALLERY-----*/
div.gallery {
    border: 1px solid #ccc;
    
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-family: 'Graduate', cursive;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.bike {
    padding: 10px;
}

/*------TABLE-----*/
table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    font-size: 12px;
    
}


/*-----FOOTER-----*/
.footer {
    font-size: 10px;
    background-color: grey;
    padding: 14px 16px;
    color: white;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    
}